[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "ThirdParty/xtl"]
	path = ThirdParty/xtl
	url = git@github.com:QuantStack/xtl.git
[submodule "ThirdParty/xtensor"]
	path = ThirdParty/xtensor
	url = git@github.com:QuantStack/xtensor.git
[submodule "ThirdParty/xsimd"]
	path = ThirdParty/xsimd
	url = git@github.com:QuantStack/xsimd.git
[submodule "ThirdParty/xtensor-blas"]
	path = ThirdParty/xtensor-blas
	url = https://github.com/QuantStack/xtensor-blas.git
