[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "xtl"]
	path = xtl
	url = git@github.com:QuantStack/xtl.git
[submodule "xtensor"]
	path = xtensor
	url = git@github.com:QuantStack/xtensor.git
[submodule "xsimd"]
	path = xsimd
	url = git@github.com:QuantStack/xsimd.git
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/QuantStack/xtensor-blas.git
