[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "ThirdParty/xtl"]
	path = ThirdParty/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "ThirdParty/xtensor"]
	path = ThirdParty/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "ThirdParty/xsimd"]
	path = ThirdParty/xsimd
	url = git@github.com:xtensor-stack/xsimd.git
[submodule "ThirdParty/xtensor-blas"]
	path = ThirdParty/xtensor-blas
	url = git@github.com:xtensor-stack/xtensor-blas.git
